<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-centered is-mobile">
        <div class="column is-12-mobile is-7-desktop">
          <div class="box black-box golden-glow">

            <div class="container header-container">
              <div class="columns is-centered is-vcentered is-mobile">
                <div class="column is-narrow">
                  <div class="image is-110x110">
                    <img class="is-rounded"
                      src="https://i.imgur.com/fErDkeg.png">
                  </div>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile">
                <div class="column is-narrow">
                  <h1 class="title">
                    Aline Centini
                  </h1>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile" style="margin-top: -5vh;">
                <div class="column is-narrow">
                  <h3>
                    Designer de Interiores
                  </h3>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile mt-4">
                <div class="column is-narrow">
                  <button (click)="this.goTo(applicationEnum.Localization)" class="button main-button-rounded">
                    <span class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>São Paulo, São Dimas</span>
                  </button>
                </div>
              </div>

              <!-- <div class="columns is-centered is-vcentered is-mobile mt-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="fas fa-briefcase"></i>
                    </span>
                    <span class="ml-2">Loja das Guriax</span>
                  </h2>
                </div>
              </div> -->

              <!-- <div class="columns is-centered is-vcentered is-mobile mt-minus-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="fas fa-tshirt"></i>
                    </span>
                    <span class="ml-2">Roupas Femininas</span>
                  </h2>
                </div>
              </div> -->

              <!-- <div class="columns is-centered is-vcentered is-mobile mt-minus-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="far fa-heart"></i>
                    </span>
                    <span class="ml-2">O amor está no Lar.</span>
                  </h2>
                </div>
              </div> -->
            </div>

            <div class="container has-text-centered links-container">
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.Instagram)" class="button main-big-button">
                    <span class="icon">
                      <i class="fab fa-instagram"></i>
                    </span>
                    <span>Acesse meu Instagram</span>
                  </button>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.Email)"
                    class="button main-big-button">
                    <span class="icon">
                      <i class="far fa-envelope"></i>
                    </span>
                    <span>Me envie um Email</span>
                  </button>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.External)"
                    class="button main-big-button">
                    <span class="icon">
                      <i class="fas fa-paste"></i>
                    </span>
                    <span>Solicite já sua Consultoria</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="columns is-centered is-mobile mt-4">
        <div class="column has-text-centered is-mobile-8 is-desktop-7">
          <p class="is-size-7">Feito com &hearts; por <a href="https://www.instagram.com/legdata">LeG</a></p>
        </div>
      </div>
    </div>
  </div>
</section>