<section class="hero is-bold">
  <div class="hero-body">
    <div class="container">

      <div class="columns is-centered is-mobile">
        <div class="column is-12-mobile is-7-desktop">
          <div class="box box-gray">

            <div class="container header-container">
              <div class="columns is-centered is-vcentered is-mobile">
                <div class="column is-narrow">
                  <div class="image is-110x110">
                    <img class="is-rounded"
                      src="https://instagram.fpoa8-2.fna.fbcdn.net/v/t51.2885-19/s150x150/106271221_295968838203988_5008440178383260319_n.jpg?_nc_ht=instagram.fpoa8-2.fna.fbcdn.net&amp;_nc_ohc=ig6StASqggQAX_n4RJD&amp;oh=30e8865c5ef48aa7032bfe166f5c4c45&amp;oe=5F493238">
                  </div>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile">
                <div class="column is-narrow">
                  <h1 class="title">
                    Santamora Store
                  </h1>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile mt-4">
                <div class="column is-narrow">
                  <button class="button is-outlined is-rounded">
                    <span class="icon">
                      <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>Porto Alegre, Santo Antônio</span>
                  </button>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile mt-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="fas fa-briefcase"></i>
                    </span>
                    <span class="ml-2">Loja das Guriax</span>
                  </h2>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile mt-minus-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="fas fa-tshirt"></i>
                    </span>
                    <span class="ml-2">Roupas Femininas</span>
                  </h2>
                </div>
              </div>

              <div class="columns is-centered is-vcentered is-mobile mt-minus-2">
                <div class="column is-5-tablet is-5-desktop is-3-mobile"></div>
                <div class="column">
                  <h2 class="subtitle">
                    <span class="icon">
                      <i class="fas fa-lightbulb"></i>
                    </span>
                    <span class="ml-2">Vista o que te inspira!</span>
                  </h2>
                </div>
              </div>
            </div>

            <div class="container has-text-centered links-container">
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.Instagram)" class="button is-large is-fullwidth">
                    <span class="icon">
                      <i class="fab fa-instagram"></i>
                    </span>
                    <span>Instagram</span>
                  </button>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.WhatsApp, '5551992538880')"
                    class="button is-large is-fullwidth">
                    <span class="icon">
                      <i class="fab fa-whatsapp"></i>
                    </span>
                    <span>WhatsApp da Amanda</span>
                  </button>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.WhatsApp, '5551992307880')"
                    class="button is-large is-fullwidth">
                    <span class="icon">
                      <i class="fab fa-whatsapp"></i>
                    </span>
                    <span>WhatsApp da Stephanie</span>
                  </button>
                </div>
              </div>
              <div class="columns is-centered">
                <div class="column is-10 is-narrow">
                  <button (click)="this.goTo(applicationEnum.eCommerce)" class="button is-large is-fullwidth">
                    <span class="icon">
                      <i class="fas fa-shopping-cart"></i>
                    </span>
                    <span>Catálogo</span>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="columns is-centered is-mobile mt-4">
        <div class="column has-text-centered is-mobile-8 is-desktop-7">
          <p class="is-size-7">Feito com &hearts; por <a href="https://www.instagram.com/legdata">LeG</a></p>
        </div>
      </div>
    </div>
  </div>
</section>