/* You can add global styles to this file, and also import other style files */
body {
    background: url(assets/img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 200px) {
    // * {
    //     font-size: 0.9rem !important;
    // }
    .button.is-large {
        font-size: 1rem !important;
    }
    .subtitle {
        font-size: 0.8rem !important;
    }
    .title {
        font-size: 1.2rem !important;
    }
}

@media (min-width: 600px) {
    // * {
    //     font-size: 1rem !important;
    // }
    .subtitle {
        font-size: 1rem !important;
    }
    .title {
        font-size: 2rem !important;
    }
}

* {
    font-family: "Raleway", sans-serif;
}
